.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
    background: rgb(75, 133, 128) ;
    color:rgb(255, 255, 255)
}

.card-body {
    background: rgb(224, 247, 245) ;
}


.card-footer{
    background: rgb(75, 133, 128) ;
    align-self: center;
    width: 100%;
}
.card-footer :hover { 
    background: #c4b782 ;
    color:rgb(0, 0, 0) 
}
.btn-retr {
    align-content: center;
    width: 100%;
    font-size: 20px;
    background-color: #ECE1B3;
    color: #000000;
    font-family: 'Open Sans', monospace;
}

.btn-outline-danger {     
    background: #dd6767 ;
    color:rgb(0, 0, 0) 
}

.rules{
    text-align: left;
    font-size: 13px;
}
.btn-Сalc{
    align-content: center;
    width: 100%;
    font-size: 20px;
    background-color: #ECE1B3;
    color: #000000;
    font-family: 'Open Sans', monospace;
}
.btn-СalcHover :hover{
    background: #c4b782 ;
    color:rgb(0, 0, 0)  
}
